{% extends "layout.html" %}
{% block title %}Nosotros{% endblock %}
<link rel="icon" type="image/svg+xml" href="./static/images/nosotros.png" />
{% block content %}
 

    
<div class="nosotros">
    <main class="contenedor" align="center">
      <br><br><br><br><br>
        <h1 class="texnosotros">Nosotros</h1>

        <div class="nosotros">
            <div class="nosotros__contenido" ><br>
                <p class="texnosotros">Buscamos posicionarnos como una empresa pionera en el campo de la barbería, nos dedicamos a la comercialización de productos, <br>brindando experiencias significativas y ofreciendo un servicio de alta calidad a nuestros clientes, siendo gestores de soluciones <br>y atendiendo la necesidad del barbero brindando finalmente un buen cuidad masculino </p>
         
                <p>
                    <p class="texnosotros">Se proyecta en un crecimiento desde la sistematización, principalmente en el área logística y la expansión en puntos estratégica, <br> posicionándonos, como número uno, en el sector de la barbería</p>
                </p>
            </div>
            <img class="nosotros__imagen" src="static/images/nosotros.jpg" alt="imagen nosotros" width ="300" 
            height="300">
        </div>
    </main>
<br><br><br>
    <section class="contenedor comprar" align="center">
        <h2  class="texnosotros">¿Porqué Comprar con nosotros?</h2>

        <div class="bloques">
           

            <div class="bloque">
                <img class="bloque__imagen" src="static/images/icono_2.png" alt="porque comprar">
                <h3 class="texnosotros" >GARANTIA</h3>
                <p class="texnosotros">Nuestros productos son los mejores y tienes la garantía que si algo no funciona nosotros respondemos</p>
            </div> <!--.bloque-->

            <div class="bloque">
                <img class="bloque__imagen" src="static/images/icono_3.png" alt="porque comprar">
                <h3 class="texnosotros">ENVIO RAPIDO</h3>
                <p class="texnosotros">Despacho en Cali, Pasto y Tulúa el mismo día y hacemos envíos nacionales el mismo día de tu compra</p>
            </div> <!--.bloque-->

            <div class="bloque">
                <img class="bloque__imagen" src="static/images/icono_4.png" alt="porque comprar">
                <h3 class="texnosotros">ATENCION AL CLIENTE</h3>
                <p class="texnosotros">Nuestro canal de WhatsApp esta disponible para resolver cualquier duda que tengas</p>
            </div> <!--.bloque-->
        </div><!--.bloques-->
    </section> 
  </div>

  

    {% endblock %}